<div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between border-start border-4">
  <a href="{{yamlEditorUrl}}" class="link-dark text-decoration-none flex-grow-1 d-flex align-items-center">
    <i class="bi bi-file-earmark-code me-2 text-primary"></i>{{name}}
  </a>
  <div class="btn-group btn-group-sm ms-2" role="group">
    <a href="{{yamlEditorUrl}}" class="btn btn-outline-primary border-0" title="YAML редактор со схемой">
      <i class="bi bi-filetype-yml"></i>
    </a>
    <a href="{{rawEditorUrl}}" class="btn btn-outline-secondary border-0" title="Raw YAML редактор">
      <i class="bi bi-code-square"></i>
    </a>
    <a href="{{visualEditorUrl}}" class="btn btn-outline-primary border-0" title="Визуальный редактор">
      <i class="bi bi-ui-checks-grid"></i>
    </a>
  </div>
</div>
